body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.topnav a {
  color: seashell;
  float: right;
  padding: 23px;
  border-bottom: 1px solid seashell;
  
}
.topnav a:first-child {
  float: left;
  margin: 10px 0px 0px;
  font-size: 50px;
  padding: 9px;
  
}