body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
/* Fixed Header */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 69px;
    width: 100%;
    font-family: "Helvetica", sans-serif;
    background-color: black; 
    color: seashell; 
    padding: 0px; 
    border-bottom: 1px solid seashell;
    z-index: 1000; /* Ensure the header is above other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fixed-header h1 {
  height: 50px;
  width: auto;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: flex-start;
}
.fixed-header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.fixed-header nav ul li {
  font-size: 22px;
  color: seashell;
  float: right;
  padding: 0px 20px;
  display: inline;
  margin-right: 5px;
}
.fixed-header nav a {
  text-decoration: underline;
  color: seashell;
  font-weight: none;
  display: block;
}
/* Top Banner */
.image-banner {
  position: relative;
  
}

.image-banner img {
  width: 1200px;
  height: 700px;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.text-banner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: seashell;
  background-color: black;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center text horizontally */
  
}

.text-banner h2 {
  font-size: 36px;
  margin: 0;
}

.text-banner p {
  font-size: 18px;
  margin: 10px 0 0;
}
/* Tea of the Month */
.tea-of-month {
  text-align: center;
  color: seashell;
  
}

.image-section {
  width: 1000px;
  margin: 20px auto; /* Adjust margin as needed */
}

.row {
  display: flex;
  justify-content: center;
}
.image-container {
  margin: 5px;
  text-align: center;
}
.image-container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.image-title {
  margin:10px;
}
/* Locations */
.locations {
  position: relative;
  height: 1000px;
  width: 1200px;
  margin: 20px auto; /* Adjust margin as needed */
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Move the image to the background */
}

.locations-text {
  color: seashell;
  text-align: center;
  margin-top: 155px; /* Adjust margin as needed */
}
.container {
  width: 300px;
  height: 300px;
  background-color: black;
  color: seashell;
  text-align: center;
  opacity: 1;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the container horizontally and vertically */
}
#container1 {
  margin-left: -340px;/*From center of container and center of container1*/
}
#container2 {
  margin-left: 0; 
}
#container3 {
  margin-left: 340px; 
}
/* Contact Info */
.contact-info {
  height: 200px;
  text-align: center;
}
/* Footer */
.site-footer {
  margin-left: 20px;
  text-align: left;
}
